#note {
    display: flex;
    border-radius: 1.75em;
    background-color: white;
    color: #2c2c2c;
    flex-direction: column;
    padding: 1em 0em 1em 2em;
    max-width: 25em;
    min-width: 25em;
    margin-top: 2em;
}

#description {
    font-size: 1.25em;
}