#headerBar {
  display: flex;
  border-radius: 1.75em;
  justify-content: left;
  background-color: white;
  padding-left: 2em;
  padding-top: -1em;
  padding-bottom: -1em;
  font-size: 1.3em;
  color: #2c2c2c;
}